<div class="container-fluid">
    <div class="row feed">
        <div class="col-md-4" style="">
            <div ng-hide="currentUser">
                <h4>Login:</h4>
                <br>
                <form name="mf">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Username</label>
                        <input required name="clientName" ng-model="username">
                        <div ng-messages="mf.clientName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input required name="clientPass" ng-model="password">
                        <div ng-messages="mf.clientPass.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                        <md-button class="md-raised md-primary" ng-click="login()" ng-disabled="mf.$invalid">Login</md-button>
                </form>
                <br>
                <md-button ng-href="#/signup" target="_blank">Sign Up!</md-button>
            </div>
            <div ng-show="currentUser">
                <h1> Hello {{currentUser}}</h1>
                <br>
                <br>
                <a href ng-click="logout()"><h4>Logout</h4></a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="new" ng-show="currentUser">
                <input ng-model="share" type="text" class="form-control" placeholder="What's up?"></input>
                <button type="button" class="btn" ng-click="submit()">Submit</button>
            </div>
            <h3 ng-repeat="new in data">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{new.text}}
          <a href ng-click="remove(new._id)">Delete<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
          <br>
        <small>{{new.username}}</small>

      </h3>
        </div>
    </div>
</div>